.paragraph {
  font-size: 1.2rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.feature-box__text {
  font-size: 1.2rem;
  color: #fff; }

h1,
h2,
h3,
h4 {
  display: block;
  margin: 0; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6rem;
  margin-top: 100vh; }

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 3rem;
  margin-bottom: 0.4rem; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s; }

.heading-secondary--sub {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
  display: inline-block; }

.heading-tertiary_white {
  color: #fff;
  font-size: 2rem; }

.gardenertitle {
  text-align: center;
  vertical-align: middle; }

.heading-secondary-color {
  color: #9f40f7;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.6rem;
  display: inline-block; }

.heading-secondary-color-section {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
  font-weight: 500 italic;
  line-height: 1.6rem;
  padding-top: 2rem;
  display: inline-block; }

.section-gardener-title {
  color: #9f40f7;
  font-size: 1.8rem; }

/*FONTAWESOME*/
.fab {
  color: #fff;
  padding-left: 1rem; }

.row {
  max-width: 124rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.btn-text:link,
.btn-text:visited {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin-top: 1.2rem; }
  .btn-text:link:hover,
  .btn-text:visited:hover {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgba(205, 170, 238, 0.5); }

.btn-white_text:link,
.btn-white_text:link:visited {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin-top: 1.2rem; }
  .btn-white_text:link:hover,
  .btn-white_text:link:visited:hover {
    display: inline-block;
    color: #fff; }

.btn-green {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #219653;
  width: 25rem;
  height: 4rem;
  text-align: center;
  margin-top: 15rem;
  padding: 1.5rem;
  font-size: 1.8rem; }
  .btn-green:hover {
    font-weight: 700;
    background-color: #34e009;
    box-shadow: 2px 2px 4px #ffffff; }

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#34e009, #219653);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #34e009;
  transform: translateX(1rem); }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 10px;
  box-sizing: inherit; }

html {
  font-size: 94%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  box-sizing: border-box; }

/*MAIN COMPONENTS*/
main {
  margin: 0;
  padding: 0;
  width: 100%; }

.header {
  height: 250vh;
  background-image: linear-gradient(to right bottom, rgba(159, 64, 247, 0.8), rgba(40, 180, 133, 0.8)), url(../img/jardinvisualmain.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 0; }

.header__logobox {
  position: absolute;
  top: 40px;
  left: 40px; }

.header_logo {
  width: 250px;
  height: 250px; }

.header__text-box {
  text-align: center;
  clear: both; }

.section-gardener {
  background-image: url(../img/jardinphotojulie.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin: 0 auto; }

/*MAIN NAV*/
/*SECTIONS*/
.section-feature {
  background-color: #9f40f7;
  margin: 0;
  padding: 0;
  min-height: 75vh; }

.feature-box {
  text-align: center; }

.section-gardener-interv {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  margin: 1rem;
  background-color: rgba(247, 247, 247, 0.4);
  display: flex;
  flex-direction: column; }

.section-gardener-box {
  width: 55%;
  padding-bottom: 1rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  background-color: rgba(247, 247, 247, 0.4); }

.section-gardener_portrait {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  float: left; }

.section-gardener-interv_text {
  float: left;
  font-size: 1.4rem;
  color: #9f40f7; }

.section-participate {
  background-image: url(../img/jardinagecollector.jpg);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  display: flex;
  justify-content: center; }

.recipe {
  background-color: #219653;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh; }

/*FOOTER*/
.footer {
  background-color: #9f40f7;
  min-height: 50vh; }

.footer-logo img {
  width: 120px;
  height: 120px;
  background-color: #f7f7f7; }
