@import "variables";
@import "typography";
@import "mixins";
@import "grille";
@import "buttons";
@import "navigation";
*,
*::after,
*::before {
    margin: 0;
    padding: 10px;
    box-sizing: inherit;
}

html {
    font-size: 94%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    box-sizing: border-box;
}


/*MAIN COMPONENTS*/

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    height: 100vh;
    background-image: linear-gradient( to right bottom, rgba(159, 64, 247, 0.8), rgba(40, 180, 133, 0.8)), url(../img/jardinvisualmain.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /*margin: 0 auto;
     max-width: 100%;*/
    padding: 0;
    &__logobox {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        width: 15rem;
        height: 15rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}


/*MAIN NAV*/


/*SECTIONS*/

.section-feature {
    background-color: $color-purple-light;
    margin: 0;
    padding: 0;
    min-height: 75vh;
}

.feature-box {
    text-align: center;
}

.section-gardener-interv {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    margin: 1rem;
    background-color: rgba(#f7f7f7, 0.4);
    display: flex;
    flex-direction: column;
}

.section-gardener-box {
    width: 55%;
    padding-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    background-color: rgba(#f7f7f7, 0.4);
}

.section-gardener_portrait {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    float: left;
}

.section-gardener-interv_text {
    float: left;
    font-size: 1.4rem;
    color: $color-purple-light;
}

.section-participate {
    background-image: url(../img/jardinagecollector.jpg);
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    display: flex;
    justify-content: center;
}

.recipe {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.recipevisual {
    background-image: linear-gradient( to right bottom, rgba(33, 150, 83, 0.8), rgba(52, 224, 9, 0.8)), url(../img/mainrecipe.jpg);
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

.align__center {
    // clear: both;
}

.align__center {
    display: flex;
    flex-direction: column;
}

.section-gardener {
    background-image: url(../img/jardinphotojulie.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    margin: 0 auto;
}


/*FOOTER*/

.footer {
    background-color: $color-purple-light;
    min-height: 50vh;
}

.footer-logo img {
    width: 12rem;
    height: 12rem;
    background-color: #f7f7f7;
}