.paragraph {
  font-size: $default-font-size;
  color: $color-grey-dark;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.feature-box__text {
  font-size: $default-font-size;
  color: $color-white;
}

h1,
h2,
h3,
h4 {
  display: block;
}

.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 6rem;
  margin-top: 100vh;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 3rem;
  margin-bottom: 0.4rem;
}

.heading-primary--sub {
  font-size: 3rem;
  letter-spacing: 3rem;
  margin-top: 0.4rem;
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  transition: all 0.2s;
  color: $color-white;
}

.heading-tertiary_white {
  color: $color-white;
  font-size: 2rem;
}
