
//COLORS:

$color-purple-light:#9F40F7;
$color-green-light: #34E009;
$color-green-dark:rgb(33, 150, 83);
$color-grey-light-1:#f7f7f7;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;


// FONT
$default-font-size: 1.6rem;



//GRID
 
$grid-width:124rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;