//COLORS:
$color-purple-light: #9f40f7;
$color-green-light: #34e009;
$color-green-dark: rgb(33, 150, 83);
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// FONT
$default-font-size: 1.2rem;
//GRID
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
